Template-Type: ReDIF-Archive 1.0
Handle: RePEc:rec
Name: Refugio Economico
Maintainer-Email: contacto@refugioeconomico.mx
Description: Archivo RePEc de Refugio Economico para working papers y series relacionadas.
URL: https://policy.refugioeconomico.mx/repec/rec/
