Template-Type: ReDIF-Series 1.0
Name: Working Papers
Provider-Name: Refugio Economico
Provider-Homepage: https://policy.refugioeconomico.mx/
Maintainer-Name: Refugio Economico
Maintainer-Email: contacto@refugioeconomico.mx
Type: ReDIF-Paper
Handle: RePEc:rec:wpaper
Description: Serie de working papers de Refugio Economico.
